.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: azure;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.links{
    display: flex;
    gap: 10px;
}
.header button{
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
    color: darkblue;
    /* border: none; */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}