.home-banner {
  background-color: #13c4a1;
  display: flex;
  height: 500px;
  color: white;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.home-banner h1 {
  font-size: 3rem;
  font-weight: 700;
}

.section-title {
  text-align: center;
  margin-top: 20px;
  font-weight: bolder;
  font-size: 48px;
  color: #349dfd;
}

.home-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
  padding-left: 5%;
  padding-right: 5%;
  /* gap: 20px; */
}

.tab-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-content {
  padding-left: 10%;
  padding-right: 10%;
}

.tab-button:hover {
  background-color: #82b2e5;
  color: white;
}

.tab-button.active {
  background-color: #0056b3;
  color: white;
}

.tab-content h2 {
  text-decoration: underline;
  text-underline-offset: 10px;
  color: orangered;
}

.tab-data {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.tab-data p {
  line-height: 2;
}

.home-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
  padding: 20px;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  margin: 20px auto;
  text-align: center;
  /* max-width: 1200px; */
}

.home-card-data {
  /* background-color: #fff; */
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
  /* padding: 20px; */
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  flex: 1 1 200px;
  background-color: #f5f9ff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-card-data img {
  position: absolute;
  left: 30%;
  top: -40px;
}

.home-card-data h6 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  margin-top: 80px;
  margin-bottom: 10px;
  color: #0056b3;
}

.home-card-data p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

.home-card-data:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .home-banner {
    flex-direction: column;
    height: auto;
    margin-top: 5px;
  }

  .tab-data {
    flex-direction: column;
  }

  .home-card-container {
    justify-content: flex-start;
  }
}
