.login-page {
  display: flex;
  align-items: center;
  /* width: 90%;
  margin: auto; */
  justify-content: center;
  align-content: center;
  /* margin-top: 15vh; */
  height: 100vh;


}


.login-inputs {
  margin-top: 20px;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(206, 203, 203);
  max-width: 400px;
  width: 100%;
  text-align: center;


  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Heading style */
.login-inputs h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;

}

/* Input field style */
.login-inputs input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border 0.3s ease;

}

.login-inputs input:focus {
  border-color: #4f80e1;
}

/* Button style */
.login-inputs button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 108%;
  padding: 14px;
  background-color: #4f80e1;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-inputs button:hover {
  background-color: rgb(247, 98, 11);
}

@media screen and (max-width: 768px) {
  .login-page {
    flex-direction: column;
  }

  .login-inputs {
    margin-top: 60px;
    margin: auto;
  }
}