.dashboard-view{
    margin-left: 250px;
}
.dashboard-home{
    display: flex;
    flex-wrap: wrap;
}
@media   screen and (max-width:768px) {
    .dashboard-view{
        margin-left: 0px;
    }  
    
}
